.home-container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.home-container .home-content {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: center;
    align-items: center;
}
.home-container .home-content .home-title{
    margin-top: 3rem;
    color: var(--color-text-in-primary)
}
.home-container .home-content .home-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.home-container .home-content .categoria{
    background-color: var(--color-line-in-white);
    margin: 1rem;
    padding: 9rem;
    border-radius: 12px;
}
.home-container .home-content .categoria a{
    text-decoration: none;
    color:black
}
.home-container .home-content .categoria:hover{
    background-color: gray;
}